*{
    margin: 0px;
    padding: 0px;
}



.topo{
    width: 100%;
    height: 200px;
    background-color: rgb(3,3,3);
    display: flex;              /* ativa flexbox */
    align-items: center;        /* alinha verticalmente */
    gap: 20px;                  /* espaço entre logo e título */

}

.titulo-main{
    color: rgb(136, 4, 4);
    font-size: 90px;
     font-weight: bold;
    
    padding: 40px;
    margin-left: 10px;
    
}


.container {
  display: flex;     /* coloca filhos lado a lado */
}

.logo-topo{
    width: 160px;
    height: 150px;
    margin-left: 40px;
    


}

.menu-lateral{
    background-color: rgb(3, 3, 3);
    height: 100vh;
    width: 180px;
}







.lista-lateral{
    font-size: 30px;
    
    padding: 15px;
}



.lista-lateral a{
    text-decoration: none;  /* tira o sublinhado */
    color: rgb(136, 4, 4);           /* cor do texto */
    font-size: 30px;        /* tamanho da fonte */
    display: block;         /* ocupa a largura toda do menu */
    padding: 12px 4px 25px;     /* dá espaço interno */
     font-weight: bold;
}

/*
.main-menu{
    display: flex;
     /*SEM flex: 1 → O elemento só ocupa o espaço do seu conteúdo
    flex: 1;                 /* ← CHAVE DO FUNCIONAMENTO 
    display: flex;
    flex-direction: column;
    
}
*/


.img-atleta{
    
    width: 350px;           /* Largura fixa */
    height: 400px;          /* Altura fixa */
    object-fit: cover;      /* ★ MAGICO - ajusta a imagem sem distorcer */
    object-position: center; /* Centraliza o foco da imagem */
    margin: 15px;
}

.main-menu{
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.div-atleta{
    display: flex;
    flex-direction: row;
    margin: 15px;
    
}



.conteudo-texto{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    max-width: 200px; /* ou qualquer valor que preferir */
  
  
  
  /* Adiciona algum espaçamento interno */
  
  
  /* Garante que o conteúdo não ultrapasse os limites */
  box-sizing: border-box;
}

.div-atleta1{
    display: flex;
    flex-direction: row;
}